body{
    background-color: gray;
    }
header{
    background-color: white;
    height: 60px;
    width: 100%;
    margin: auto;
    text-align: center;
    border-bottom: gray;
    border-color: gray;
    padding-top: 10px;
    border-bottom: 5px solid gray;
    }
h1{
    position: absolute;
    left: 460px;
    }
/* div.separator{
    background-color: gray;
    height: 10px;
    width: 600px;
} */
div.container{
    width: 600px;
    padding-bottom: 10px;
    margin: auto;
    }
div.post img{
    background-color: white;
    max-width: 100%;
    display: block;
    }
div.first-child{
    background-color: white;
    width: 79%;
    padding-left: 10px;
    }
div.second-child{
    background-color:white;
    width: 17.4%;
    padding: 20px;
    text-align: right;
    text-align: center;
    font-size: 25px;
    color: gray;
    }
div.children{
    display: flex;
    }
div.footer{
    background-color: white;
    border-top: 0px;
    padding: 5px;
    padding-top: 5px;
    }